/* Color name:	red
Hexadecimal value:	#FF0000
RGB value:	rgb(255, 0, 0)
HSL value:	hsl(0, 100%, 100%) */

body {
  background-color: rgb(192, 212, 232);
}

header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #080808;
}

nav {
  position: sticky;
  justify-content: center;
  top: 0;
  background-color: rgb(221, 239, 255);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 17px;  

}

nav div{
  display: flex;
  justify-content: center;
  gap: 20px;
}


#center-image {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* in the class .wherewhen and id #double,
 they both underline the text but the id #double has a double underline while the class .wherewhen has a single underline.
 The id #double won over the class because the id is more specific than the class. */

#double{
  font-size: 18px;
  text-decoration: underline;
  text-decoration-style: double;
}

.wherewhen {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.position {
  text-decoration: underline;
  font-weight: bold;
}

.maintopics {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-bottom: #000000 solid 2px;
} 


.boxes {
  border: 2px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
}



p {
  font-family: "Times New Roman"; 
  font-style: normal;
  font-size: 12px;
  font-size: 100%;
  /* the one that comes last is the one that is used */

}

table td {
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}




img {
  border: 2px solid rgb(0, 0, 0);
}
