/* Color name:	red
Hexadecimal value:	#FF0000
RGB value:	rgb(255, 0, 0)
HSL value:	hsl(0, 100%, 100%) */

/* 
  display: flex
  flex-direction: row | column | row-reverse | column-reverse
  align-items: flex-start | center | flex-end
  justify-content: flex-start | center | flex-end | space-between | space-around
*/

body {
  background-color: rgb(197, 223, 248);
}

header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: black;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  background-color: rgb(137, 194, 247);
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;  
  
}

#navright {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-end;
  flex-wrap: wrap;

  padding: 5px;
  gap: 18px;
  
}

#navright a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  text-decoration: dashed underline;
}
#navright a:hover {
  background-color: white;
  color: rgb(10, 120, 231);
  border-radius: 4px;
}



/* in the class .wherewhen and id #double,
 they both underline the text but the id #double has a double underline while the class .wherewhen has a single underline.
 The id #double won over the class because the id is more specific than the class. */

#double{
  font-size: 18px;
  text-decoration: underline;
  text-decoration-style: double;
}

.wherewhen {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

.position {
  text-decoration: underline;
  font-weight: bold;
}

.maintopics {
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-bottom: black solid 2px;
} 


.boxes {
  border: 2px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.grid-item {
  border: 1px black solid;
  padding: 20px;
  text-align: center;
}


p {
  font-family: "Times New Roman"; 
  font-style: normal;
  font-size: 12px;
  font-size: 100%;
  /* the one that comes last is the one that is used */

}

table td {
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}



img {
  border: 2px solid rgb(0, 0, 0);
  width: 100px;
  height: 100px;
}


/* 320px — 480px: Mobile devices
   769px — 1024px: Small screens, laptops
 */

@media (min-width: 320px) and (max-width: 480px) {
  #navright {
    flex-direction: column;     
    align-items: left;          
    gap: 10px;                    
    padding: 10px;
  }

  #navright a{
    font-size: 20px;             
  }

  .maintopics {
    font-size: 24px;
  }

  .position table td{
    font-size: 20px;
  }
  
  .wherewhen{
    font-size: 18px;
  }

  #address{
    font-size: 17px;
  }


  #nameleft img{
    width: 70px;
    height: 70px;
  }

  body{
    font-size: 19px;
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
  }

}


#nameleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

nav article p{
  margin: 0px;
}










