/* Color name:	red
Hexadecimal value:	#FF0000
RGB value:	rgb(255, 0, 0)
HSL value:	hsl(0, 100%, 100%) */

body {
  background-color: rgb(192, 212, 232);
}

header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #080808;
}

nav {
  font-size: 14px;
  text-align: center;
  color: #02050a;
}


#center-image {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* in the class .maintopics and id #underlining,
 they both underline the whole line. 
 The id won over the class because the id is more specific than the class.
  */
#underlining {
  border-bottom: #000000 solid 5px;
}
.maintopics {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-bottom: #000000 solid 2px;
} 

#navcontact {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #02050a;
}

.boxes {
  border: 2px solid rgb(0, 0, 0);
  margin: 15px;
  padding: 20px;
}

.wherewhen {
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  color: #000000;
}

p {
  font-family: "Times New Roman"; 
  font-style: normal;
  font-size: 12px;
  font-size: 100%;
  /* the one that comes last is the one that is used */

}


img {
  border: 2px solid rgb(0, 0, 0);
}
